*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
/*------------ 
 header style 
-------------*/
/* nav start */
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 144, 14, 0.1);
}
nav{
    display: flex;
    justify-content: space-between;
    width: 1440px;
    padding-top: 60px;
}
.title{
    font-weight: 700;
    font-size: 45px;
    line-height: 52px;
}
.nav-item{
    display: flex;
    gap: 100px;
    align-items: center;
}
.nav-item a{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}
/* nav end */
/* brand new start */
.brand-new{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    gap: 40px;
    margin-top: 100px;
}
.brand-new h1{
    font-size: 65px;
    font-weight: 700;
    line-height: 75px;
}
.brand-new p{
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
/* header button design */
.header-button{
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-button a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
/* banner image */
header img{
    padding: 50px 0;
}
/* main content section-01 start */
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feau-images{
    display: grid;
    grid-template-columns: 342px 342px;
    gap: 20px;
}
.feautures-section{
    display: flex;
    width: 1440px;
    align-items: center;
    gap: 50px;
    margin-top: 100px;
}
.feau1{
    font-size: 45px;
    font-weight: 500;
    line-height: 52.79px;
}
.feau2{
    font-size: 45px;
    font-weight: 500;
    line-height: 52.79px;
    color: #FF900E;
}
.feau1 span{
    color: #727272;
}
.feau-details p{
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-top: 35px;
}
/* feau-button design */
.feau-button{
    width: 180px;
    height: 64px;
    background-color: #FF900E;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 23.46px;
    margin-top: 35px;
}
.feau-button a{
    text-decoration: none;
    color: white;

}
/* Love and enjoy section design */
.loveand-enjoy-continer{
    display: flex;
    width: 1440px;
    margin-top: 100px;
    justify-content: space-between;
}
.loveand-enjoy-title h1{
    font-size: 45px;
    font-weight: 700;
    line-height: 52.79px;
    color: #131313;
    border-left: 5px solid #FF900E;
    padding-left: 15px;

}
.enjoy-paragraph{
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    width: 586px;
    
}
.loveand-enjoy{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.injoy-item h3{
    font-size: 20px;
    font-weight: 600;
    line-height: 23.46px;
    color: #131313;
}
.injoy-item p{
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-top: 10px;
    
}
.injoy-item{
    width: 586px;
    background-color: white;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    padding: 32px;
}
/* Experience-button */
.experience-button{
    width: 290px;
    height: 150px;
    background-color: #FF900E;
    border-radius: 8px;
    margin-top: -120px;
    
}
.experience-button a{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
 

}
.experience-button a h1{
    font-size: 65px;
    font-weight: 700px;
    padding-top: 20px;

}
.experience-button a p{
    font-size: 25px;
    font-weight: 500;
}
/*------------------------ 
second section end
----------------------- */
.error-div{
    width: 1440px;
    margin-top: 150px;
    
}
.somefacts{
    display: grid;
    gap: 10px;
}
.somefacts h1{
    font-size: 45px;
    font-weight: 700px;
    color: #131313;
    line-height: 52.80px;
}
.somefacts p{
    color: #727272;
    width: 542px;
}
.working-datas{
    display: flex;
    gap: 100px;
    margin-top: 100px;
    
}
.data{
    width: 241px;
    height: 240px;
    border: 1px solid #FF900E;
    border-radius: 5px;
    padding: 45px 36px 45px 36px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.data :hover{
    rotate: 20deg;
}
.data h3{
    font-size: 45px;
    font-weight: 600;
    line-height: 52.80px;
    color: #424242;
}
.data p{
    font-size: 20px;
    font-weight: 600;
    line-height: 23.46px;
    color: #727272;
}
/* last section design */
.last-section{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.last-section h1{
    font-size: 45px;
    font-weight: 700;
    line-height: 52.69px;
    color: #131313;
    padding-bottom: 15px;
}
.last-section p{
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    
}
/* sponspors banner style*/
.sponspors-banners{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 1440px;
    margin-top: 100px;
    color: white;
    
}
.spo-banner img{
    filter: grayscale(100%);
}
/*------------------------------------------
 offic address and social media design 
-------------------------------------------------*/
.company-details{
    display: flex;
    justify-content: space-between;
    width: 1440px;
    height: 200px;
    margin-top: 80px;
    padding: 20px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}
.address{
    width: 300px;
}
.address p{
    line-height: 26px;
    padding-top: 10px;
}
.social img{
    margin-right: 10px;
    margin-top: 20px;
    width: 30px;
    height: 30px;
}
.address h4{
    font-size: 25px;
}
.social h4{
    font-size: 25px;
}
/* footfer style */
footer{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.footer-section{
    background: #FFF4E7;
    border-radius: 8px;
    width: 1440px;
    display: flex;
    justify-content: center;
    padding: 35px;
    color: #424242;
}
